/* od.css */

body	{ font:12px/18px Arial, Helvetica, sans-serif; background:#f6f6f6; color:#322a2a; }
a		{ color:#b40b51; text-decoration:none; }
a:hover	{ color:#b40b51; text-decoration: underline; }
ul		{ list-style: none; margin:0; padding:0; }


#profile { height:36px; border-bottom: 1px solid #dddddd; background: url(../images/utilities.jpg) repeat-x; }
	#profile p { font:12px/36px Arial, Helvetica, sans-serif; color:#b40b51; }
	#profile a { font-weight: bold; }
	
#header #nameapp {
	background: url(../images/logo.png) no-repeat;
	height:53px;
}
	#header #nameapp span { display:none; }


#nav {
	text-align: right;
	line-height: 3em;
	margin-top:30px;
}
	
#nav li { font-size: 1.25em; }
#nav li, #streams li { display: inline; }
#nav li a { color: #423A3A; }
#nav a:hover, #subnav a:hover { text-decoration:none; }
#nav li a {
	font-weight: normal;
	padding: 10px 10px 1.2em 10px;
	-moz-border-radius-topright: .5em;
	-moz-border-radius-topleft: .5em;
	-webkit-border-top-right-radius: .5em;
	-webkit-border-top-left-radius: .5em;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
}
#nav a:hover {
	color:#b40b51;
}
#nav li a.current {
	color: #E3DEDB;
	text-shadow: 0 0 1px #816C5F;
}

#subnav, #nav li a.current {
	background: #423A3A;
}

#subnav {
	margin-top: 0px;
	line-height: 3.2em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	font-size: 1.1em;
}

ul#subnav a.first {
	-moz-border-radius-topleft: .5em;
	-moz-border-radius-bottomleft: .5em;
	-webkit-border-top-left-radius: .5em;
	-webkit-border-bottom-left-radius: .5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}


#subnav a.current {
	color: white;
	background-color: #322A2A;
}

ul#subnav li a {
	font-weight: normal;
	float: left;
	padding: 0 1em;
}

#subnav li a {
	color: #E3DEDB;
}

ul#subnav li, ul#subnav a {
	line-height: 3.2em;
}

#subnav a:hover {
	background-color: #3a3232;
}


#pagehead {
	background: transparent url(../images/pagehead.png) repeat-x bottom left;
	border-bottom: 1px solid #DED8D9;
	line-height: 1.2em;
	padding: 2.4em 0;
}

#pagehead h2 {
	font:bold 22px/22px Helvetica;
	padding:0;
	margin:0;
}

#pagehead h2 span {
	display:block;
	font:normal 18px/18px Helvetica;
}

#pagehead h3 {
	text-align:right;
	font:bold 14px/16px Helvetica;
	margin:0;
	padding:0;
}

.section {
	margin-bottom:30px;
}

.section h2 {
	font:italic 14px/20px Georgia;
	padding-bottom:15px;
	margin-bottom:25px;
	border-bottom:1px solid #ddd;
}

.item {
	padding-bottom:10px;
	margin-bottom:25px;
	border-bottom:1px solid #ddd;
}

.item .item-title h2 {
	font:bold 16px/20px Helvetica;
	border:none;
	padding:0;
	margin-bottom:15px;
}

.item .item-doc-title h2 {
	font:bold 16px/20px Helvetica;
	border:none;
	padding:0;
	margin:0;
}

.item h4 {
	font:bold 16px/18px Helvetica;
	color:#a3a3a3;
}

.no-border {
	border:none !important;
}

.item ul.item-opt {
	float:right;
	margin-top:-35px;
}

.item ul.item-opt li {
	float:left;
	height:16px;
	margin-left:8px;
}

.item ul.item-opt a, .item ul.item-doc-opt a {
	padding-left:20px;
	display:block;
	height:16px;
}

.item ul.item-opt a.view {
	background:url(../images/item-options.png) 0 0 no-repeat;
	font:12px/16px Arial;
}

.item ul.item-opt a.action {
	background:url(../images/item-options.png) 0px -32px no-repeat;
	font:12px/16px Arial;
}

.item ul.item-opt a.notes {
	background:url(../images/item-options.png) 0px -16px no-repeat;
	font:12px/16px Arial;
}

.item ul.item-doc-opt a.file {
	background:url(../images/item-doc-options.png) 0px 0px no-repeat;
	font:12px/16px Arial;
}

.item ul.item-doc-opt a.download {
	background:url(../images/item-doc-options.png) 0px -16px no-repeat;
	font:12px/16px Arial;
}

.item p {
	color:#a3a3a3;
	font:12px/18px Helvetica;
}

.item ul.item-doc-opt ul {
}

.item ul.item-doc-opt li {
	float:left;
	height:16px;
	margin-right:8px;
	margin-bottom:5px;
}


/** TICKET SECTION **/
#item-nav {
	font:14px/30px Helvetica;
}

#item-nav li {
	
}

#item-nav li a {
	padding-left:10px;
	color:#322a2a;
}

#item-nav li a:hover {
	text-decoration:none;
	color:#b40b51;
}

#item-nav li a.current {
	background:#ededed;
	font-weight:bold;
	display:block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	color:#b40b51;
}


.item-info h4 {
	font:bold 14px/24px Helvetica;
	padding:0;
	margin:0;
	color:#322a2a;
}

.item-info h4 span {
	color:#b40b51;
}

.item-config, .item-history, .item-details {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #ddd;
}

.item-config h3, .item-history h3, .item-details h3 {
	font:bold 16px/20px Helvetica;
	margin:0;
	padding:0;
}

.item-config p, .item-history p, .item-details p {
	font:12px/18px Helvetica;
	color: #a3a3a3;
	margin:0;
}

.item-history .day {
	font:bold 14px/18px Helvetica;
	margin-top:2px;
}

.item-history .year {
	color: #a3a3a3;
}

.item-history a.file {
	background:url(../images/item-doc-options.png) 0px 0px no-repeat;
	font:12px/16px Arial;
	padding-left:20px;
}

.item-history a.download {
	background:url(../images/item-doc-options.png) 0px -16px no-repeat;
	font:12px/16px Arial;
	padding-left:20px;
}

.item-info .map {
	border:5px solid #fff;
}